body{
    background-color: #212121;
    color: black;
}

.first{
    display: flex;
    justify-items: center;
    flex-direction: column;
}
h2{
    margin: 10px auto;
}
.parent{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid white 1px;
    border-radius: 10px;
    width: 96vw;
    height: 96vh;
    background-color: aliceblue;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid whitesmoke;
    border-radius: 20px;
    padding: 10px 50px;
    margin: 40px 0px;
    background-color: black;
    color: white;
}
#subt:hover{
    cursor: pointer;
}
#subt{
    margin: 15px;
    border-radius: 2px;
    padding: 6px;
    background-color: red;
    color: #fff;
    border-color: white;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#newGame:hover{
    cursor: pointer;
}
#newGame{
    margin: auto;
    background-color: red;
    color: white;
    max-width: 70px;
    max-height: 60px;
    padding: 4px;
    border-radius: 12px;
    
}

.resultParas{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
}